@use 'base/variables' as v;

/*-----------------------------

base

----------------------------*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
    color: v.$main-color;
}

h2 {
    font-size: 3.2rem;
    letter-spacing: .68;
    font-weight: 800;
    margin-bottom: 30px;
    text-transform: uppercase;
}

h3 {
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: .05;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.bg-gray {
    background-color: v.$background-color;
}

button {
    background-color: v.$button-color;
    width: 160px;
    height: 36px;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;

    &:hover {
        opacity: 0.7;
    }
}


/*--------------------------

header 

--------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    width: 260px;
    position: fixed;
    top: 38px;
    left: 4vw;
    z-index: 1;

    &.black svg path {
        fill: v.$main-color;
        transition: fill .3s;
    }
}

.header-nav {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 30px;
    padding: 180px 0 0;
    letter-spacing: .068;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 36.1vw;
    background-color: rgba(34, 34, 34, .95);
    text-align: center;
    z-index: 2;
    transform: translateY(100%);
    opacity: 0;
    transition: transform .3s, opacity .3s;

    a {
        color: #fff;

        &:hover {
            opacity: .7;
        }
    }

}


.nav-list {
    .nav-item {
        margin-bottom: 30px;

        &:first-of-type {
            margin-bottom: 40px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}



/* ハンバーガーメニュー(ボタンが開いていないとき)　*/

.toggle_menu {
    display: flex;
    align-items: center;
    position: fixed;
    top: 38px;
    right: 4vw;
    z-index: 3;

}

/* ハンバーガーメニューが開いたとき */
/*かつハンバーガーボタンがfvより下にあるとき */

.toggle_menu.black {
    .bar {
        background-color: v.$main-color;
        transition: background-color .3s;
    }

    .menu {
        color: v.$main-color;
        transition: color .3s;
    }
}



.bar {
    display: block;
    background-color: #fff;
    height: 2px;
    width: 22px;
    border-radius: 1px;
}
.bar_top {
    transform: translateY(-4px);
    transition: transform .3s;
}

.bar_bottom {
    transform: translateY(4px);
    transition: transform .3s;
}

.menu {
    display: block;
    font-size: 1rem;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    margin-left: 7px;
}


/* ハンバーガーボタン(メニュー)が開いた時 */

.bar.cross.bar_top {
    transform: translateY(2px)rotate(30deg);
    transition: transform .3s
}

.bar.cross.bar_middle {
    opacity: 0;
    transition: opacity .3s;
}

.bar.cross.bar_bottom {
    transform: translateY(-2px)rotate(-30deg);
    transition: transform .3s;
}


.header-nav.open {
    /* ハンバーガーメニューが開いたとき　*/
    /* ハンバーガーメニューが開いていなかった時に、
                右に配置していたnavの位置を左に置き、navが見え
                るようにopacity: 1を指定している */

    transform: translateX(0);
    opacity: 1;
    transition: transform .3s, opacity .3s;
}
.toggle_musk {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(34, 34, 34, .6);
    z-index: 1;
}





/* ハンバーガーメニューが開いたとき　*/

body {
    .noscroll {
        overflow: hidden;
    }
}



/*--------------------------

main 

--------------------------*/
.fv {
    height: 100vh;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: v.$fv-color;
        width: 50%;
        height: 100%;
        z-index: -1;
    }

    .kv-wrapper {
        height: 86.4%;
        width: 76.4%;
        background-image: url(../images/kv-img.jpg);
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
        position: relative;

        .copy-wrapper {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);

            .copy-ja {
                color: #fff;
                font-size: 2rem;
                letter-spacing: 0;
            }

            .copy-en {
                color: #fff;
                font-size: 2rem;
                letter-spacing: 0;
                margin-bottom: 10px;
            }

            .main-copy {
                color: #fff;
                font-size: 7.2rem;
                font-weight: bold;
                line-height: 1.2em;
                text-transform: uppercase;
            }
        }
    }
}

/*--------------------------

aboutSec

--------------------------*/
.aboutSec {
    margin-top: 120px;
    position: relative;

    &::after {
        content: "";
        width: 100vw;
        height: 160px;
        display: block;
        background-color: v.$background-color;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    .about-container {
        background-image: url(../images/about-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 607px;
        position: relative;
        max-width: 1100px;
        margin: 0 auto;


        .about-inner {
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            background-color: rgba(255, 255, 255, 95%);
            padding: 50px 30px;
            width: 590px;

            .about-text {
                line-height: 2;
                margin: 30px 0;
            }
        }


    }
}

/*--------------------------

work-and-culture

--------------------------*/
.work-and-culture {
    margin-bottom: 60px;


    .work-and-culture-container {
        display: flex;
        justify-content: space-between;
        padding: 80px 30px 60px;

        .card {
            .card__image {
                margin-bottom: 27px;
            }

            .card__text {
                margin-bottom: 28px;
            }
        }
        .card-1 {
            padding-right: 30px;
        }
        .card-2 {
            padding-left: 30px;
        }

    }
}


/*--------------------------

latest-topicSec

--------------------------*/

.latest-topicSec {
    margin-bottom: 60px;

    .latest-topicSec-container {
        .latest-topicSec-inner {
            padding-left: 570px;

            dt {
                font-weight: bold;
                color: #cecece;
                margin-bottom: 9px;
                font-size: 1rem;
            }

            dd {
                font-weight: bold;
                color: v.$main-color;
                margin-bottom: 10px;
                font-size: 1.4rem;

                &:last-of-type {
                    padding-bottom: 30px;
                }


                &::after {
                    content: "";
                    display: block;
                    border-bottom: 1px solid #dddddd;
                    padding-top: 10px;
                }

            }
        }
    }
}

/*--------------------------

contactSec

--------------------------*/


.contactSec {
    padding: 60px 120px;

    .contactSec-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact-text {
        line-height: 2;
        margin: 30px 0;
    }
}


/*--------------------------

footer

--------------------------*/
footer {
    background-color: v.$footer-color;
    padding: 18px 0;
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

@media screen and (max-width:768px) {

    /*-----------------------------

sp-base

----------------------------*/

    h2 {
        font-size: 2.8rem;
    }

    .wrapper {
        max-width: 100%;
        margin: 0 15px;
    }

    .bg-gray {
        background-color: v.$background-color;
    }

    button {
        font-size: 1.1rem;
    }


    /*-----------------------------

sp-header

----------------------------*/

    header {
        .site-title {
            width: 189px;
            height: 20px;
            position: fixed;
            top: 20px;
        }
    }

    /*-----------------------------

sp-main

----------------------------*/



    main {


        /*-----------------------------

sp-fv

----------------------------*/



        .fv {
            .kv-wrapper {
                .copy-wrapper {
                    transform: translate(30%, -50%);

                    .copy-ja {
                        font-size: 1.6rem;
                        letter-spacing: .06em;
                    }

                    .copy-en {
                        font-size: 1.6rem;
                        letter-spacing: .06em;
                    }

                    .main-copy {
                        font-size: 5.6rem;
                        line-height: 1;
                        letter-spacing: .06em;
                    }


                }
            }

            &::after {
                width: 75%;
            }

        }

        /*-----------------------------

sp-aobut

----------------------------*/
        .aboutSec {
            margin-top: 78px;

            .about-container {
                .about-inner {
                    width: 90%;
                    left: 5.5%;
                }
            }

        }

        /*-----------------------------

sp-work-and-culture

----------------------------*/
        .work-and-culture {
            margin-bottom: 40px;

            .work-and-culture-container {
                padding: 80px 0 60px;
                padding-top: 40px;
                display: block;

                .card {
                    margin-bottom: 40px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
                .card-1 {
                    padding-right: 0;
                }
                .card-2 {
                    padding-left: 0;
                }
                
            }
           
        }

        /*-----------------------------

sp-latest-topicSec

----------------------------*/
        .latest-topicSec {
            .latest-topicSec-container {
                .latest-topicSec-inner {
                    padding-left: 0;

                    dt {
                        margin-bottom: 8px;
                    }

                    dd {
                        font-size: 1.2rem;
                        margin-bottom: 8px;
                    }
                }
            }
        }

        /*-----------------------------

sp-latest-topicSec

----------------------------*/
        .contactSec {
            padding: 40px 0;

            .contactSec-wrapper {
                display: block;

                .contactSec-inner {
                    flex-direction: column-reverse;

                    .contact-text-photo {
                        margin-bottom: 40px;
                    }
                }
            }
        }



    }

}