@charset "UTF-8";
/*-----------------------------

base

----------------------------*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  color: #333333;
}

h2 {
  font-size: 3.2rem;
  letter-spacing: 0.68;
  font-weight: 800;
  margin-bottom: 30px;
  text-transform: uppercase;
}

h3 {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.05;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.bg-gray {
  background-color: #F0F0F0;
}

button {
  background-color: #000000;
  width: 160px;
  height: 36px;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}
button:hover {
  opacity: 0.7;
}

/*--------------------------

header 

--------------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  width: 260px;
  position: fixed;
  top: 38px;
  left: 4vw;
  z-index: 1;
}
h1.black svg path {
  fill: #333333;
  transition: fill 0.3s;
}

.header-nav {
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 30px;
  padding: 180px 0 0;
  letter-spacing: 0.068;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 36.1vw;
  background-color: rgba(34, 34, 34, 0.95);
  text-align: center;
  z-index: 2;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
.header-nav a {
  color: #fff;
}
.header-nav a:hover {
  opacity: 0.7;
}

.nav-list .nav-item {
  margin-bottom: 30px;
}
.nav-list .nav-item:first-of-type {
  margin-bottom: 40px;
}
.nav-list .nav-item:last-of-type {
  margin-bottom: 0;
}

/* ハンバーガーメニュー(ボタンが開いていないとき)　*/
.toggle_menu {
  display: flex;
  align-items: center;
  position: fixed;
  top: 38px;
  right: 4vw;
  z-index: 3;
}

/* ハンバーガーメニューが開いたとき */
/*かつハンバーガーボタンがfvより下にあるとき */
.toggle_menu.black .bar {
  background-color: #333333;
  transition: background-color 0.3s;
}
.toggle_menu.black .menu {
  color: #333333;
  transition: color 0.3s;
}

.bar {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 22px;
  border-radius: 1px;
}

.bar_top {
  transform: translateY(-4px);
  transition: transform 0.3s;
}

.bar_bottom {
  transform: translateY(4px);
  transition: transform 0.3s;
}

.menu {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  margin-left: 7px;
}

/* ハンバーガーボタン(メニュー)が開いた時 */
.bar.cross.bar_top {
  transform: translateY(2px) rotate(30deg);
  transition: transform 0.3s;
}

.bar.cross.bar_middle {
  opacity: 0;
  transition: opacity 0.3s;
}

.bar.cross.bar_bottom {
  transform: translateY(-2px) rotate(-30deg);
  transition: transform 0.3s;
}

.header-nav.open {
  /* ハンバーガーメニューが開いたとき　*/
  /* ハンバーガーメニューが開いていなかった時に、
              右に配置していたnavの位置を左に置き、navが見え
              るようにopacity: 1を指定している */
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}

.toggle_musk {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.6);
  z-index: 1;
}

/* ハンバーガーメニューが開いたとき　*/
body .noscroll {
  overflow: hidden;
}

/*--------------------------

main 

--------------------------*/
.fv {
  height: 60vh;
  min-height: 450px;
  margin-bottom: 120px;
}
.fv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222222;
  width: 50%;
  height: 60vh;
  z-index: -1;
}
.fv .kv-wrapper {
  height: 83.4%;
  width: 76.4%;
  background-image: url(../../images/heading-img_about.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  position: relative;
}
.fv .kv-wrapper .copy-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.fv .kv-wrapper .copy-wrapper h3 {
  color: #fff;
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
}
.fv .kv-wrapper .copy-wrapper .copy-ja {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

/*--------------------------

main 

--------------------------*/
.fv {
  height: 62.7vh;
  min-height: 450px;
}
.fv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222222;
  width: 50%;
  height: 60vh;
  z-index: -1;
}
.fv .kv-wrapper {
  height: 83.4%;
  width: 76.4%;
  background-image: url(../../images/heading-img_contact.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  position: relative;
}
.fv .kv-wrapper .copy-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.fv .kv-wrapper .copy-wrapper h3 {
  color: #fff;
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
}
.fv .kv-wrapper .copy-wrapper .copy-ja {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

/*--------------------------

formSec

--------------------------*/
.formSec {
  max-width: 700px;
  /*
  privacy plicy
  */
}
.formSec .form-lead {
  line-height: 1.5;
  margin-bottom: 52px;
}
.formSec dt {
  margin-bottom: 10px;
}
.formSec dt:first-of-type {
  margin-bottom: 18px;
}
.formSec dt span {
  display: inline-block;
  background-color: #333333;
  color: #fff;
  margin-left: 20px;
  font-size: 1.2rem;
  padding: 1px 5px;
}
.formSec dd {
  margin-bottom: 42px;
}
.formSec .contents-list {
  display: flex;
  align-items: center;
}
.formSec .contents-list .radio-btn {
  margin-right: 50px;
  vertical-align: -4px;
}
.formSec input[type=radio] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50px;
}
.formSec input[type=email],
.formSec input[type=tel],
.formSec input[type=text],
.formSec textarea {
  border: 1px solid #333333;
  width: 100%;
  background-color: #fff;
  padding: 10px;
}
.formSec textarea {
  height: 212px;
}
.formSec .privacy-policy-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.formSec .privacy-policy-details {
  padding: 10px;
  height: 250px;
  border: 1px solid #333333;
  overflow: scroll;
  margin-bottom: 40px;
}
.formSec p {
  margin-bottom: 27px;
}
.formSec .confirm {
  text-align: center;
  font-weight: bold;
}
.formSec .confirm .checkbox {
  border: 1px solid #333;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  vertical-align: -3px;
}
.formSec .button-wrapper {
  text-align: center;
}
.formSec .button-wrapper .submit-btn {
  color: #fff;
  background-color: #000000;
  width: 160px;
  font-size: 1.2rem;
  line-height: 36px;
  display: block;
  margin: 40px auto 0;
  margin-bottom: 138px;
}
.formSec .button-wrapper .submit-btn:hover {
  opacity: 0.7;
}

/*--------------------------

formSec

--------------------------*/
footer {
  background-color: #525252;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 18px 0;
}

/*--------------------------

SP版

--------------------------*/
@media screen and (max-width: 768px) {
  /*-----------------------------

  　　sp-base
  　　---------------------------*/
  h2 {
    font-size: 3.2rem;
    letter-spacing: 0.68;
    font-weight: 800;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: 0.6em;
    margin-bottom: 7px;
  }

  .wrapper {
    max-width: 100%;
    margin: 0 15px;
  }

  .bg-gray {
    background-color: #F0F0F0;
  }

  button {
    font-size: 1.1rem;
  }

  /*------------------------------

  sp-main

  ------------------------------*/
  main {
    /*------------------------------

    sp-fv

    ------------------------------*/
  }
  main .fv {
    min-height: 450px;
    margin-bottom: 80px;
  }
  main .fv::after {
    height: 65vh;
  }
  main .fv .kv-wrapper {
    height: 86%;
    width: 76.4%;
  }
  main .fv .kv-wrapper .copy-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(15%, -50%);
  }
  main .fv .kv-wrapper .copy-wrapper h3 {
    font-size: 5.2rem;
    line-height: 1.6;
    letter-spacing: 0;
  }
  main .fv .kv-wrapper .copy-wrapper .copy-ja {
    font-size: 1.6rem;
    letter-spacing: 0;
  }
  main .formSec form dd {
    margin-bottom: 37px;
  }
  main .formSec form dd:last-of-type {
    margin-bottom: 40px;
  }
  main .formSec form dd .contents-list {
    display: block;
  }
  main .formSec form dd .contents-list .radio-btn {
    margin-bottom: 14px;
  }
  main .formSec .privacy-policy-wrapper .privacy-policy-details {
    font-size: 1.4rem;
    line-height: 1.7;
  }
  main .formSec .privacy-policy-wrapper .button-wrapper .submit-btn {
    margin-bottom: 80px;
  }
}
/*# sourceMappingURL=contact.css.map */