@charset "UTF-8";
/*-----------------------------

base

----------------------------*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  color: #333333;
}

h2 {
  font-size: 3.2rem;
  letter-spacing: 0.68;
  font-weight: 800;
  margin-bottom: 30px;
  text-transform: uppercase;
}

h3 {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.05;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.bg-gray {
  background-color: #F0F0F0;
}

button {
  background-color: #000000;
  width: 160px;
  height: 36px;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}
button:hover {
  opacity: 0.7;
}

/*--------------------------

header 

--------------------------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  width: 260px;
  position: fixed;
  top: 38px;
  left: 4vw;
  z-index: 1;
}
h1.black svg path {
  fill: #333333;
  transition: fill 0.3s;
}

.header-nav {
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 30px;
  padding: 180px 0 0;
  letter-spacing: 0.068;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 36.1vw;
  background-color: rgba(34, 34, 34, 0.95);
  text-align: center;
  z-index: 2;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
.header-nav a {
  color: #fff;
}
.header-nav a:hover {
  opacity: 0.7;
}

.nav-list .nav-item {
  margin-bottom: 30px;
}
.nav-list .nav-item:first-of-type {
  margin-bottom: 40px;
}
.nav-list .nav-item:last-of-type {
  margin-bottom: 0;
}

/* ハンバーガーメニュー(ボタンが開いていないとき)　*/
.toggle_menu {
  display: flex;
  align-items: center;
  position: fixed;
  top: 38px;
  right: 4vw;
  z-index: 3;
}

/* ハンバーガーメニューが開いたとき */
/*かつハンバーガーボタンがfvより下にあるとき */
.toggle_menu.black .bar {
  background-color: #333333;
  transition: background-color 0.3s;
}
.toggle_menu.black .menu {
  color: #333333;
  transition: color 0.3s;
}

.bar {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 22px;
  border-radius: 1px;
}

.bar_top {
  transform: translateY(-4px);
  transition: transform 0.3s;
}

.bar_bottom {
  transform: translateY(4px);
  transition: transform 0.3s;
}

.menu {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  margin-left: 7px;
}

/* ハンバーガーボタン(メニュー)が開いた時 */
.bar.cross.bar_top {
  transform: translateY(2px) rotate(30deg);
  transition: transform 0.3s;
}

.bar.cross.bar_middle {
  opacity: 0;
  transition: opacity 0.3s;
}

.bar.cross.bar_bottom {
  transform: translateY(-2px) rotate(-30deg);
  transition: transform 0.3s;
}

.header-nav.open {
  /* ハンバーガーメニューが開いたとき　*/
  /* ハンバーガーメニューが開いていなかった時に、
              右に配置していたnavの位置を左に置き、navが見え
              るようにopacity: 1を指定している */
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}

.toggle_musk {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.6);
  z-index: 1;
}

/* ハンバーガーメニューが開いたとき　*/
body .noscroll {
  overflow: hidden;
}

/*--------------------------

main 

--------------------------*/
.fv {
  height: 60vh;
  min-height: 450px;
  margin-bottom: 120px;
}
.fv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222222;
  width: 50%;
  height: 60vh;
  z-index: -1;
}
.fv .kv-wrapper {
  height: 83.4%;
  width: 76.4%;
  background-image: url(../../images/heading-img_about.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  position: relative;
}
.fv .kv-wrapper .copy-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.fv .kv-wrapper .copy-wrapper h3 {
  color: #fff;
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}
.fv .kv-wrapper .copy-wrapper .copy-ja {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

/*--------------------------

visionSec

--------------------------*/
.visionSec {
  margin-bottom: 120px;
}
.visionSec .visionSec__container {
  padding-left: 226px;
}
.visionSec .visionSec__container .lead {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 27px;
}
.visionSec .visionSec__container .visionSec__text {
  font-size: 16px;
  line-height: 2;
}

/*--------------------------

ceo-messageSec

--------------------------*/
.ceo-messageSec .ceo-messageSec__container {
  position: relative;
}
.ceo-messageSec .ceo-messageSec__container .ceo-messageSec__image {
  position: absolute;
  top: 30px;
  left: 0;
  width: 38%;
  z-index: 1;
}
.ceo-messageSec .ceo-messageSec__container .message {
  position: absolute;
  top: 145px;
  right: 0;
  background-color: #F0F0F0;
  max-width: 770px;
  padding: 120px 185px;
}
.ceo-messageSec .ceo-messageSec__container .message .message__text {
  margin-bottom: 50px;
  line-height: 2em;
}

.ceo-messageSec__wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/*--------------------------

companySec

--------------------------*/
.companySec {
  margin-top: 1310px;
}
.companySec h2 {
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}
.companySec .company-info-wrapper .company-info {
  margin-left: 300px;
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
}
.companySec .company-info-wrapper .company-info .info-wrapper {
  padding: 17px 0 18px;
  display: flex;
  border-bottom: 1px solid #ddd;
}
.companySec .company-info-wrapper .company-info .info-wrapper .term {
  flex-basis: 142px;
}
.companySec .company-info-wrapper .company-info .info-wrapper .details {
  flex-basis: 658px;
  letter-spacing: 0.04em;
}
.companySec iframe {
  width: 100%;
  height: 360px;
  margin-bottom: 120px;
}

/*--------------------------

footer

--------------------------*/
footer {
  background-color: #525252;
  color: #fff;
  padding: 18px 0;
  font-size: 1rem;
  text-align: center;
}

/*--------------------------

SP版

--------------------------*/
@media screen and (max-width: 768px) {
  /*-----------------------------

  　　sp-base

  -　　---------------------------*/
  h2 {
    font-size: 3.2rem;
    letter-spacing: 0.68;
    font-weight: 800;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: 0.6em;
    margin-bottom: 7px;
  }

  .wrapper {
    max-width: 100%;
    margin: 0 15px;
  }

  .bg-gray {
    background-color: #F0F0F0;
  }

  button {
    font-size: 1.1rem;
  }

  /*------------------------------

  sp-main

  ------------------------------*/
  /*------------------------------

  sp-fv

  ------------------------------*/
  .fv {
    min-height: 450px;
    margin-bottom: 80px;
  }
  .fv::after {
    height: 65vh;
  }
  .fv .kv-wrapper {
    height: 86%;
    width: 76.4%;
  }
  .fv .kv-wrapper .copy-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(15%, -50%);
  }
  .fv .kv-wrapper .copy-wrapper h3 {
    font-size: 5.2rem;
    line-height: 1.6;
    letter-spacing: 0;
  }
  .fv .kv-wrapper .copy-wrapper .copy-ja {
    font-size: 1.6rem;
    letter-spacing: 0;
  }

  /*------------------------------

  sp-visionSec

  ------------------------------*/
  .visionSec .visionSec__container {
    padding-left: 0;
  }
  .visionSec .visionSec__container .lead {
    font-size: 2.4rem;
    letter-spacing: 0;
  }
  .visionSec .visionSec__container .visionSec__text {
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
  .visionSec .visionSec__container .visionSec__text:last-of-type {
    margin-bottom: 80px;
  }

  /*------------------------------

  sp-ceo-messageSec

  ------------------------------*/
  .ceo-messageSec .ceo-messageSec__container .message {
    max-width: 100%;
    padding: 120px 15px;
  }
  .ceo-messageSec .ceo-messageSec__container .ceo-messageSec__image {
    width: 90%;
  }
  .ceo-messageSec .ceo-messageSec__container .message .message__text {
    font-size: 1.4rem;
    margin-bottom: 30px;
  }

  /*------------------------------

  sp-companySec

  ------------------------------*/
  .companySec {
    margin-top: 1178px;
  }
  .companySec .wrapper .company-info-wrapper .company-info .info-wrapper dt {
    flex-basis: 197px;
    font-size: 1.4rem;
    letter-spacing: 0.04em;
  }
  .companySec .wrapper .company-info-wrapper .company-info .info-wrapper dd {
    flex-basis: 197px;
    font-size: 1.4rem;
    letter-spacing: 0.04em;
  }
  .companySec iframe {
    height: 470px;
    margin-bottom: 80px;
  }
}
/*# sourceMappingURL=about.css.map */